#wrapper {
	max-width: 960px;
	margin: auto;
}

body {	
	text-align: center;
	margin: 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

h1.title {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

a.nav {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid white;
}

li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}

img {
	margin: 40px 8px;
}

footer {
	padding: 20px 0;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
	margin-left: 40px;
	text-transform: uppercase;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
	margin-right: 40px;
	text-transform: uppercase;
}

.heart {
	color: red;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.output {
	border: 1px solid black;
	width: 50px;
	color: #FFFFFF;
	background-color: #F15B31;
}

#score {
	text-align: center;
}
